{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}




<h1 class="mb-3" style="font-size: 4.5em; line-height: 60px;">NEOM - YOUR NEW <br/>ORDER MANAGEMENT <br/>TOOL</h1>
<p>Easy and clean order management tool. Still work in progress</p>

<hr/>

<h2>TO-DO</h2>
<ul>
    <li>Create / Delete an order</li>
    <li>Edit an order adding products</li>
</ul>

<hr/>

<h2>Features</h2>
<ul>
    <li>View product list</li>
    <li>Create / Edit / Delete a product</li>
</ul>

{% endblock %}
