{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}




<h1>NEOM - YOUR NEW ORDER MANAGEMENT TOOL</h1>
<p>Easy and clean order management tool. Still work in progress</p>

<hr/>

<h2>Features</h2>
<p>Currently, the following features are available:</p>
<ul>
    <li><strong>View Product List:</strong> Retrieve and display a list of all available products.</li>
    <li><strong>View Order List:</strong> Access a list of all orders placed in the system.</li>
    <li><strong>Create, Edit, and Delete Products:</strong> Manage products by adding, updating, or deleting them through the user interface and API.</li>
    <li><strong>Test API Endpoints:</strong> Interact with the backend via API using the following endpoints:</li>
</ul>

<pre>

    <b>API Endpoints:</b>

    Orders:
    <small>
        curl -X GET http://localhost:8000/api/orders
        curl -X GET http://localhost:8000/api/orders/1
        curl -X POST http://localhost:8000/api/orders -H "Content-Type: application/json" -d '{ "name": "John Doe", "date": "2025-01-26", "products": [ { "id": 9, "quantity": 2 }, { "id": 10, "quantity": 1 } ] }'
        curl -X DELETE http://localhost:8000/api/orders/1
    </small>

    Products:
    <small>
        curl -X GET http://localhost:8000/api/products
        curl -X POST http://localhost:8000/api/products -H "Content-Type: application/json" -d '{"name": "Bambole", "price": 19.99, "stock": 100}'
        curl -X PUT http://localhost:8000/api/products/1 -H "Content-Type: application/json" -d '{"name": "Bambole Deluxe", "price": 25.99, "stock": 120}'
        curl -X DELETE http://localhost:8000/api/products/1
    </small>
</pre>

<p><strong>Stock Management:</strong> The stock is correctly managed. If an attempt is made to create an order with a quantity that exceeds the available stock, the API will return an error response. For example, trying to place an order with a product quantity greater than the available stock will result in an error message indicating insufficient stock.</p>

<hr/>

<h2>Errors</h2>
<p><i>Note personali</i></p>
<ul>
    <li><strong>Bootstrap:</strong> Non sono riuscito a configurare correttamente bootstrap perchè non riesco a usare bootstrap.js e inoltre ci sono molti warning nel build di docker dopo aver customizzato lo stile.</li>
    <li><strong>Form:</strong> Non sono riuscito a mostrare correttamente il form per aggiungere un prodotto a un ordine.</li>
    <li><strong>UI:</strong> Non sono riuscito a implementare modal, ricerche e filtri sulle tabelle a causa dell'assenza di javascript</li>
</ul>

<hr/>


{% endblock %}
