{% extends 'base.html.twig' %}

{% block title %}Order List{% endblock %}

{% block body %}
  <h1>Orders</h1>

  {% if orders is not empty %}
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
          <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.name }}</td>
            <td>{{ order.description }}</td>
            <td>{{ order.date|date('Y-m-d H:i') }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Nessun ordine presente a database.</p>
  {% endif %}
{% endblock %}
